html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #fafafd;
}

body {
  text-align: center;
  align-items: center;
}

:root {
  --dark: rgb(20, 20, 20);
  --c1: #ffa8B6;
  --c2: #101357;
  
  --left-color: var(--c1);
  --right-color: var(--c2);
}

.wrapper {
  display: grid;
}

.main {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100vw;
  background-color: #f8e5e5;
}

/* Navbar.js */
.grid-nav-bar {
  background-color:#101357;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
  font-size: 30px;
  color: #ffa8B6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 120px;
}

.logo {
  cursor:pointer;
  width: 300px;
}

.nav-area {
  list-style:none;
  display: grid;
  grid-template-columns: auto auto auto;
}

.nav-area li {
  padding: 0 50px;
  text-transform: uppercase;
  text-align: center;
}

button {
  cursor: pointer;
  color: var(--c2);
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 7px;
  background-color: var(--c1);
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
}

a {
  text-decoration: none;
  color:inherit;
}

/* Header.js */

.grid-header-box {
    overflow: hidden;
    height: 120vh;
}
.side {
  position: absolute;
  display: grid;
  height: 100vh;
  overflow: hidden;
  place-items: center;
  text-align: center;
}

.side .title {
  font-family: "Rubik", sans-serif;
  font-size: 8vw;
  margin: 0px 10vw;
  width: 80vw;
  color: white;
}

.side .fancy {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.1em;
  line-height: 0.8em;
  font-style: italic;
}

#left-side {
  background-color: var(--left-color);
  width: 60%;
  z-index: 2;
}

#left-side .fancy {
  color: var(--right-color);
}

#right-side {
  background-color: var(--right-color);
}

#right-side .fancy {
  color: var(--left-color);
}

.category_form {
  display: grid;
  align-items: center;
  text-align: center;
  width: 500px;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
}

.cf_title {
  font-size: 20px;
  font-weight: 900;
  color: #ff8b88;
  text-align: center;
}

.cf_input {
  display:block;
  font:1.2em 'Open sans';
  flex:1;
  padding:0.6em;
  border:0.2em solid #819090;
  border-left: none;
  border-top: none;
  text-align: center;
}

.cf_button {
  display:block;
  font:1.2em 'Open sans';
  padding:0.6em 0.8em;
  background-color: #819090;
  color: #fff;
  border:none;
}
/* Search.js */
.search__container {
    display: grid;
    align-items: center;
    text-align: center;
    width: 500px;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
}
    
.search__title {
    font-size: 30px;
    font-weight: 900;
    color: #ff8b88;
    text-align: center;
 }
    
.search__input {
  width: 100%;
  height: 15px;
  border-radius: 5px;
  outline: none;
  border: 3px solid var(--c1);
  padding: 15px 15px;
  color: #101357;
  font-size: 25px;
  text-align: center;
} 

/* Categories & EachCategory.js */
.category_box {
  margin-top: 100px;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.category_button {
  cursor: pointer;
  color: var(--c2);
  font-size: 15px;
  padding: 10px;
  border-radius: 7px;
  margin: 2px;
  background-color: var(--c1);
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.click {
  align-items: center;
  height: 70px;
  width: 70px;
}

/* EachCategories.js */

.category {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.category > div {
  flex-basis: calc(25% - 40px);
}

.card {
  display: grid;
  border-radius: 10px 10px 10px 10px;
  overflow: hidden;
  justify-content: center;
  -webkit-box-shadow: 0px 12px 18px -6px rgba(0,0,0,0.3);
  box-shadow: 0px 12px 18px -6px rgba(0,0,0,0.3);
  margin: 30px;
  background-color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
} 

.card:hover {
  box-shadow: 10px 5px 20px 20px #181818;
  cursor: pointer;
}

.card-image {
  height: 200px;
  width: 100%;
}

.card-name {
  font-size: 20px;
}

.card-text {
  color:#000000;
  font-size: 13px;
  padding: 3px;
  margin-left: 15px;
  margin-right: 15px;
} 

.list-button {
  margin: 20px;
  font-size: 12px;
  letter-spacing: 1px;
  padding: 2px;
}

 /* NewActivity.js  */
 .container {
    width: 100%;
    background: rgba(0, 0, 0);
    font-weight: 800;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.form-title{
  padding-top: 20px;
  font-size: 25px;
  text-align: center;
  color:var(--c1);
}

.activity_form {
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 50px;
}

label {
  width: 95%;
  font-style: italic;
  font-size: 20px;
  margin: 15px 15px;
}

.form_input {
   width: 35%;
  height: 5px;
  border-radius: 5px;
  border: 3px solid var(--c1);
  padding: 15px 15px;
  color: #101357;
  font-size: 20px;
  text-align: center; 
}

.form-button {
  margin: 30px 30px;
  margin-left: 500px;
  margin-right: 500px;
  font-size: 25px;
  align-items: center;
    border:none;
    border-radius: 10px;
    color: var(--c1);
    background: var(--c2);
} 

/* AboutUS.js */
.aboutus {
  margin-top: 300px;
  margin-bottom: 150px;
  margin-left: 200px;
  margin-right: 200px;
  font-family: 'Times New Roman', Times, serif;
  background-color: 
  #0A1627;
  color: white;
  border-radius: 20px;
}

.aboutus-image {
  margin-top: 50px;
  width: 400px;
}

.aboutus-title {
  margin-bottom: 100px;
  font-size: 100px;
}

.aboutus-p {
  margin-left: 200px;
  margin-right: 200px;
  font-size: 25px;
  padding-bottom: 140px;
}